{% extends 'base.html' %}
{% block header %}
    <title>{{ title }}</title>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
                $('#add_cart').click(function () {
                var gid = $('#gid').val();  //获取商品的id
                var count = $('.num_show').val();  //获取商品的数量信息
                //判断是否登录
                $.get('/user_islogin/', function (data) {
                    if(data.islogin){//进行登录验证

                        $.get('/add/',{'gid': gid, 'count':count}, function (data) {
                            if (data.isadd){//进行数据库写入,如果写入成功执行JS动画,执行失败弹出添加失败的提示框

                                var $add_cart = $('#add_cart');//将使用多次的选择器,使用变量保存在内存中,提高效率
                                var $add_x = $add_cart.offset().top;
								var $add_y = $add_cart.offset().left;

                                var $show_count = $('#show_count');//将使用多次的选择器,使用变量保存在内存中,提高效率
								var $to_x = $show_count.offset().top;
								var $to_y = $show_count.offset().left;

								var $add_jump = $('.add_jump');//将使用多次的选择器,使用变量保存在内存中,提高效率
								$add_jump.css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
								$add_jump.stop().animate({'left': $to_y+7, 'top': $to_x+7}, "fast", function() {
									$(".add_jump").fadeOut('fast',function(){
									    $.get('/count/',function (data) {//从后台查询count数据
											$('#show_count').html(data.count);
                                        });
									});
								});

                            } else {
                                alert('添加失败');
                            }
                        });
                    }
                });
            });

            //改变数量 监听数量 加号 减号
            $('.num_show').blur(function () {
                var num = parseInt($(this).val());
                var stock = $('#stock').val();//库存量
                if (isNaN(num)){//如果为空,自动改为默认值1
                    num = 1
                }
                if (num<1){//如果数量小于1,自动改为默认值1
                    num = 1
                }
                if (num>stock){//如果大于库存量,自动设置为当前库存数量
                    num = stock
                }
                $(this).val(num);//将num赋值给value属性
                var price = parseFloat($('.show_pirze em').text());
                $('.total em').text((num*price).toFixed(2)+'元');//保留两位小数
            });
            $('.add').click(function () {//当点击加号时,执行blur函数
                var $num = $('.num_show');
                var num = parseInt($num.val());
                num++;
                $num.val(num).blur()

            });
            $('.minus').click(function () {//当点击减号时,执行blur函数
                var $num = $('.num_show');
                var num = parseInt($num.val());
                num--;
                $num.val(num).blur()
            });

        })
    </script>
{% endblock %}
{% block body %}

	<div class="breadcrumb">
		<a href="">全部分类</a>
		<span>></span>
		<a href="/lists{{ goods.gtype.id }}/">{{ goods.gtype.ttitle }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.gtitle }}</h3>
			<p>{{ goods.gsubtitle |safe}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.gpice }}</em></span>
				<span class="show_unit">单  位：{{ goods.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
                    <input type="hidden"id="gid" value="{{ goods.id }}">
					<input type="text" class="num_show fl" value="1">
                    <input type="hidden" id="stock" value="{{ goods.gstock }}">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ goods.gpice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for good in new_goods %}
					<li>
						<a href="/detail{{ good.id }}/"><img src="/static/{{ good.gpic }}"></a>
						<h4><a href="/detail{{ good.id }}/">{{ good.gtitle }}</a></h4>
						<div class="prize">￥{{ good.gpice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">

				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>草莓采摘园位于北京大兴区 庞各庄镇四各庄村 ，每年1月-6月面向北京以及周围城市提供新鲜草莓采摘和精品礼盒装草莓，草莓品种多样丰富，个大香甜。所有草莓均严格按照有机标准培育，不使用任何化肥和农药。草莓在采摘期间免洗可以直接食用。欢迎喜欢草莓的市民前来采摘，也欢迎各大单位选购精品有机草莓礼盒，有机草莓礼盒是亲朋馈赠、福利送礼的最佳选择。 </dd>
				</dl>
			</div>

		</div>
	</div>

	<div class="add_jump"></div>

{% endblock %}