{% extends 'base.html' %}
{% block header %}
    <title>{{ title }}</title>
    <script>
       function add_cart(gid) {
		//登录判断
		$.get('/user_islogin/',function (data) {
			if(data.islogin){
			    //如果登录，则加入购物车
				$.get('/add/',{'gid':gid},function (data) {
				    if(data.isadd){
				        var $add_x = $('#add_cart').offset().top;
								var $add_y = $('#add_cart').offset().left;

								var $to_x = $('#show_count').offset().top;
								var $to_y = $('#show_count').offset().left;

								$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
								$(".add_jump").stop().animate({'left': $to_y+7, 'top': $to_x+7}, "fast", function() {
									$(".add_jump").fadeOut('fast',function(){
									    $.get('/count/',function (data) {
											$('#show_count').html(data.count);
                                        });
									});
								});
					}else{
				        alert('购买失败，请稍候重试');
					}
                });
			}else{
			    //如果未登录，则提示登录
				location.href='/login/';
			}
        });
    }
    </script>
{% endblock %}
{% block body %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ kind.ttitle }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods in new_list %}
					<li>
						<a href="#"><img src="/static/{{ goods.gpic }}"></a>
						<h4><a href="{{ goods.id }}">{{ goods.gtitle }}</a></h4>
						<div class="prize">￥{{ goods.gpice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/lists{{kind.id}}_1_1/" {% if orderby == '1' %}class="active" {% endif %}>默认</a>
				<a href="/lists{{kind.id}}_1_2/" {% if orderby == '2' %}class="active" {% endif %}>价格</a>
				<a href="/lists{{kind.id}}_1_3/" {% if orderby == '3' %}class="active" {% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for goods in all_list %}
				<li>
					<a href="/detail{{ goods.id }}/"><img src="/static/{{ goods.gpic }}"></a>
					<h4><a href="/detail{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.gpice }}</span>
						<span class="unit">{{ goods.gpice }}/{{ goods.gunit }}</span>
						<a href="javascript:add_cart({{goods.id}});" class="add_goods" id="add_cart" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
				{%if page.has_previous%}
				<a href="/lists{{kind.id}}_{{page.number|add:-1}}_{{ orderby }}/"> < 上一页 </a>
				{%endif%}

				{%for pindex in page.paginator.page_range%}
				{%if page.number == pindex%}
				<a href="#" class="active">{{pindex}}</a>
				{%else%}
				<a href="/lists{{kind.id}}_{{pindex}}_{{ orderby }}/">{{pindex}}</a>
				{%endif%}
				{%endfor%}

				{%if page.has_next%}
				<a href="/lists{{kind.id}}_{{page.number|add:1}}_{{ orderby }}/"> 下一页 > </a>
				{%endif%}
			</div>
		</div>
	</div>
    <div class="add_jump"></div>

{% endblock %}
